#container-countdown {
    display: flex;
    justify-content: center;
  }
  
  #countdown {
    font-size: 60px;
    margin-top: 100px;
    background: linear-gradient(120deg, rgba(157, 232, 245, 0.5), rgba(142, 160, 243, 0.5)); 
    border-radius: 20px;
    padding: 30px;
    font-family: 'Dancing Script', cursive;
    border: 3px solid rgb(219, 219, 202);
    color: white;

  }
  
  
  video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
  }
.buttons {
    display: flex;
    justify-content: center;
    margin: auto;
    background: rgba(245, 225, 135, 0.3);
    width: min-content;
    border-radius: 20px;
    border: 3px solid rgb(241, 241, 205);
}
.home {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
button {
    background: transparent;
    border: none;
}  
img {
    width: 60px;
}

@media all and (max-width:500px){
    #countdown {
        font-size: 30px;
        padding: 20px;
    }
    img {
        width: 30px;
    }
}